<section class="inicio-arrendador">
  <h2>¡Bienvenido, arrendador!</h2>

  <div class="descripcion-arrendador">
    <h3>¿Qué puedes hacer aquí?</h3>
    <ul>
      <li>Publicar y administrar tus canchas fácilmente.</li>
      <li>Automatizar la gestión de reservas y datos.</li>
      <li>Acceder a una comunidad activa de jugadores.</li>
    </ul>

    <h3>Empieza ahora</h3>
    <p>
      Da el primer paso para llenar tu cancha. Regístrala en minutos y empieza a recibir reservas sin complicaciones.
    </p>

    <div class="botones">
      <a [routerLink]="['/arrendador/agregar-arrendador']" class="btn btn-primario">Crea una cuenta</a>
      <a [routerLink]="['/login','arrendador']" class="btn btn-secundario">Inicia sesión</a>
    </div>
  </div>
</section>
