<h1>Agregar Arrendador</h1>
<form action="post">

  <label for="txtNombre">Nombre</label>
  <input type="text" id="txtNombre" required [(ngModel)]="arrendador.nombre" name="nombre">

  <label for="txtUsuario">Usuario</label>
  <input type="text" id="txtUsuario" required [(ngModel)]="arrendador.usuario" name="usuario">

  <label for="txtPassword">Contraseña</label>
  <input type="text" id="txtPassword" [(ngModel)]="arrendador.password" name="password">

  <button (click)="submitArrendador()">Agregar</button>
</form>