<div class="dashboard-container">
  <aside class="sidebar">
    <div class="sidebar-title">
      <i class="fas fa-futbol"></i> Jugador
    </div>

    <nav class="nav-links">
      <a [routerLink]="['perfil',idJugador]" routerLinkActive="active-link">
        <i class="fas fa-user"></i> Perfil
      </a>
      <a [routerLink]="['reservas',idJugador]" routerLinkActive="active-link">
        <i class="fas fa-calendar-alt"></i> Mis Reservas
      </a>
      <a [routerLink]="['/inicio']">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
      </a>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
